* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-all: "Nunito", sans-serif;
  --bg-primary: #e7eff6;
  --color-primary: #2d2d2d;
  --color-terciary: #fb2e00;

  font-size: 62.5%;
  --fs-body: 1.6rem;
  --fs-header: clamp(4rem, 1rem + 5vw, 5.6rem);
  --fs-header-sm: clamp(3rem, 0.5rem + 3vw, 4rem);
}

.dark-theme {
  --bg-secondary: #021622;
  --color-secondary: #e7eff6;
}

header {
  position: fixed;
  margin-top: 0;
}

.container {
  width: clamp(33rem, 80%, 150rem);
  height: 45rem;

  margin: auto;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container h1 {
  font-size: var(--fs-header);
}

.container p {
  font-size: 2rem;
}

.container span {
  color: #fb2e00;
}

.container-content {
  border-top: #fb2e00 4px solid;
  width: clamp(33rem, 80%, 150rem);
  padding: 3rem 0;
}
